---
import Layout from "../layouts/Page.astro";
import Section from "../components/Section.jsx";

import Nav from "../components/Nav.jsx";
import Title from "../components/Title.jsx";
import List from "../components/List.jsx";
import About from "../components/About.jsx";
import Footer from "../components/Footer.jsx";
---

<Layout title="studio ·· OFFFice" route="home">
  <!-- title -->
  <Section className="flex flex-col justify-start min-h-[90vh]">
    <div class="c">
      <Title />
    </div>
    <div class="c">
      <a href="/">
        offfice. <span class="ft-gs">studio</span>
      </a>
    </div>

    <!-- navbar -->
    <Nav className="">{""}</Nav>
  </Section>

  <!-- list 
    client:idle
  -->
  <Section className="mb-[30vh] ">
    <div class="c"><List /></div>
  </Section>

  <!-- about -->
  <Section className="mb-[30vh]">
    <div class="c"><About /></div>
  </Section>

  <!-- footer -->
  <Section className={""}>
    <Footer />
  </Section>
</Layout>
