---
import Layout from "../layouts/Page.astro";
import Section from "../components/Section.jsx";
---

<Layout title="Welcome to Astro." route="home">
  <Section className="h-full">
    <div class="c">Hey yo!</div>
  </Section>
</Layout>

<style>

</style>
