/* ------------------------------  Variables */
:root {
  /* Colors */
  --col-b: #1c1c1c;
  --col-w: #fefefe;
  --col-g: #94ae9e;
  /* Spaces */
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
}

/* ------------------------------  Fonts */
@font-face {
  font-family: "Akk";
  src: url("fonts/AkkuratTrial-Bold.woff2") format("woff2"),
    url("fonts/AkkuratTrial-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akk";
  src: url("fonts/AkkuratTrial-Regular.woff2") format("woff2"),
    url("fonts/AkkuratTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akk";
  src: url("fonts/AkkuratTrial-Italic.woff2") format("woff2"),
    url("fonts/AkkuratTrial-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Akk";
  src: url("fonts/AkkuratTrial-BoldItalic.woff2") format("woff2"),
    url("fonts/AkkuratTrial-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gas";
  src: url("fonts/Gascogne-Light.woff2") format("woff2"),
    url("fonts/Gascogne-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ---  Global */
body {
  font-family: "Akk";
  font-size: 12px;
  line-height: 1.2em;
}

.ft-gs {
  font-family: "Gas";
}

.ft-ak {
  font-family: "Akk";
}

body {
  background: var(--col-g);
  color: var(--col-b);
}

/* ------------------------------  Webgl */
[data-gl="c"] {
  position: fixed;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  z-index: -10;
  pointer-events: none;
  /* background: blue; */
}

/* ------------------------------  Layout */
main {
  min-height: 100vh;
}

.Section {
  /* border: 1px dotted lightgrey; */

  /* margin: var(--space-l) var(--space-l); */

  /* padding-top: var(--space-l); */
  /* padding-bottom: var(--space-l); */
}

.c {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

/* ------------------------------  ... */
