/* ------------------------------  Variables */
:root {
  /* Colors */
  --col-b: #1c1c1c;
  --col-w: #c8c9cb;
  --col-g: #c8c9cb;
  --col-bg: #0f0f0f;
  --col-tx: #ededed;
  /* Spaces */
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
}

/* ------------------------------  Fonts */
@font-face {
  font-family: "Akk";
  src: url("/AkkuratTrial-Bold.woff2") format("woff2"),
    url("/AkkuratTrial-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akk";
  src: url("/AkkuratTrial-Regular.woff2") format("woff2"),
    url("/AkkuratTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akk";
  src: url("/AkkuratTrial-Italic.woff2") format("woff2"),
    url("/AkkuratTrial-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Akk";
  src: url("/AkkuratTrial-BoldItalic.woff2") format("woff2"),
    url("/AkkuratTrial-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gas";
  src: url("/Gascogne-Light.woff2") format("woff2"),
    url("/Gascogne-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rhd";
  src: url("/RabbitHole-Display.woff2") format("woff2"),
    url("/RabbitHole-Display.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* --- Utils */
html,
body,
p,
h1,
h2,
h3,
h4 {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

[data-selectable] {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

html,
body,
.FULLPAGEWRAPPER {
  overscroll-behavior: none;
}

html {
  cursor: crosshair;
}

/* ---  Global */
body {
  font-family: "Akk";
  font-size: 12px;
  line-height: 1.2em;
}

.ft-gs {
  font-family: "Gas";
}

.ft-ak {
  font-family: "Akk";
}

.ft-rh {
  font-family: "Rhd";
}

body {
  background: var(--col-bg);
  color: var(--col-tx);
}

/* ------------------------------  Webgl */
[data-gl="c"] {
  position: fixed;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  z-index: 10;
  pointer-events: none;
  /* background: blue; */
}

/* ------------------------------  Layout */
main {
  min-height: 100vh;
}

/* .Section { */
/* border: 1px dotted lightgrey; */

/* margin: var(--space-l) var(--space-l); */

/* padding-top: var(--space-l); */
/* padding-bottom: var(--space-l); */
/* } */

.c {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

/* ------------------------------  Animations */

/* .ListItem {
  position: relative;
  cursor: pointer;
}

.ListItem:after {
  position: absolute;
  content: " ";
  background: var(--col-b);
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0px;

  transform-origin: right;
  transform: scaleX(0);

  transition: transform 0.3s ease;
}

.ListItem:hover:after {
  transform: scaleX(0.6);

  transition: transform 0.2s ease;
} */

/* ------------------------------  Layer */
.layer-low [data-layer="hide"] {
}

.layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;

  z-index: 100;
}

.layer [data-layer="hide"] {
  visibility: hidden;
}
